@{
    ViewBag.Title = " ";
}


<body style="background-color:white">

    <div class="jumbotron" style="background-image: url('../../fonts/BackgroundImg.jpg');">
        <div class="container">
            <img src="~/fonts/Ilovecoding.jpg" />
            <h2>What I am doing?</h2>
            <p class="lead">Coding,leetcode,project,writing,walking...</p>
            <p>
                
                <a href="https://leetcode.com/" class="btn btn-default btn-group-sm active">Leetcode &raquo;</a>
                <a href="http://asp.net" class="btn btn-default btn-group-sm active">Study &raquo;</a>
            </p>
        </div>
    </div>

 



    <div class="row">
        <div class="col-md-4">
            <h2>Reading Notes</h2>
            <ul>
                <li>@Html.ActionLink("Giver，how to avoid exhausting itself", "About1", "Home")</li>
                <li>@Html.ActionLink("Chinese entrepreneurs are generally encountered psychological difficulties", "About2", "Home")</li>
                <li>@Html.ActionLink("Learn Finance from zero", "About3", "Home")</li>
                <li>@Html.ActionLink("What is the management?", "About4", "Home")</li>
                <li>@Html.ActionLink("United Airlines crisis", "About5", "Home")</li>
                <li>@Html.ActionLink("What is the future work?", "About6", "Home")</li>
                <li>@Html.ActionLink("How to talk to others", "About7", "Home")</li>
                <li>@Html.ActionLink("How is Elon Musk looking for entrepreneurial direction", "About8", "Home")</li>
                <li>@Html.ActionLink("how to become a master", "About9", "Home")</li>
                <li>@Html.ActionLink("Beyond right and wrong is the first key to your entry into society", "About10", "Home")</li>
            </ul>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>

        <div class="col-md-8">
            <h2>My Project</h2>
            <ul>
                <li>Personal Web</li>
                <li>Book Store</li>
                <li>Typescript Form</li>
                <li>Project4</li>
                <li>Project5</li>
                
            </ul>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@




        </div>

    </div>
</body>